html,
body {
    background: #d5e1ef;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.box {
    background: white;
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.barcode-img {
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
}

.text-padding {
    padding-inline: 16px;
}

.big-line-height {}

.text-light-color {
    color: #b3b6bc;
}

.text-center {
    margin: 0.5rem 1rem;
    text-align: center;
}

.push-top-full {
    margin-top: 20px;
}

.push-top {
    margin-top: 5px;
}

.attribution {
    line-height: 0.5;
    align-self: flex-start;
    font-size: small;
    font-style: italic;
}